/* Global Styles */
body {
    font-family: Times;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styles */
header {
    background-color: #004466;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}


nav ul li a {
    color: white;
    font-weight: bold;
}


h1, h2 {
    color: #004466;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #004466;
    color: white;
    
}

/* Links */
a {
    color: #006699;
}








